/* css/compras.css */

.container.sales-purchases-module-container {
    max-width: 1000px;
    width: 90%;
    background-color: #708090;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 30px;
    box-sizing: border-box;
    color: white;
}
